@import url("reset.css");
#words {
	font-family: 'Crete Round', serif;
	font-size: 225%;
	color: #785454;
	height: 20%;
	padding: 1%;
}
#top {
	text-align: left;
}
#middle{
	text-align: center;
}
#bottom{
	text-align: right;
}
#box{
	position: absolute;
	top: 20%;
	font-family: 'Crimson Text', serif;
	width: 20%;
	border: black solid;
	padding: 2% 0 2% 2%; 
	background: #785454;
	left: 10%
}
body {
	background: #262626
		url("woman4.jpg") bottom right fixed no-repeat;
	background-size: 80% 80%;
	opacity: 0.8;
}
input, textarea, select, button{
  width : 80%;
  margin: 5%;
  font-family: 'Crete Round', serif;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}


button {
	width: 40%;
	text-align: middle;
}

@media (max-width: 600px ) {
	#words {
	font-family: 'Crete Round', serif;
	font-size: 200%;
	color: #785454;
	height: 20%;
	padding: 1%;
}
	#box{
		display: inline;
		top: 20%;
		font-family: 'Crimson Text', serif;
		width: 60%;
		border: black solid;
		padding: 5% 1% 5% 5%; 
		background: red;
		left: 15%
}
	body {

		background-size: 100% 100%;
		opacity: 0.8;
}
	input, textarea, select, button{
  width : 80%;
  margin: 3%;
  font-family: 'Crete Round', serif;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

	button {
	width: 40%;
	text-align: middle;
}

}