@import url("reset.css");
#words {
	font-family: 'Crete Round', serif;
	font-size: 225%;
	color: #785454;
	height: 20%;
	padding: 1%;
}
#top {
	text-align: left;
}
#middle{
	text-align: center;
}
#bottom{
	text-align: right;
}
#box{
	position: inline-block;
	font-family: 'Crimson Text', serif;
	width: 30%;
	border: black solid;
	padding: 2% 0 2% 2%; 
	background: #785454;
	margin: 5% 10% 0 10%;
}
body {
	background: #262626
		url("woman4.jpg") bottom right fixed no-repeat;
	background-size: 80% 80%;
	opacity: 0.8;
}
input, textarea, select, button{
  width : 80%;
  margin: 5%;
  font-family: 'Crete Round', serif;
  -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


button {
	width: 40%;
	text-align: middle;
}
#description{
	display: inline-block;
	margin: 2% 10% 0% 10%;
	border: black solid;
	padding: 3%;
	background: #785454;
}





@media (max-width: 600px ) {
	#words {
	font-family: 'Crete Round', serif;
	font-size: 200%;
	color: #785454;;
	height: 20%;
	padding: 1%;
}
	#box{
		width: 60%;
		padding: 5% 1% 5% 5%; 
		background: #785454;;
		margin: 5% 20% 0 17%;
}
	body {

		background-size: 100% 100%;
		opacity: 0.8;
}
	input, textarea, select, button{
  width : 80%;
  margin: 3%;
  font-family: 'Crete Round', serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

	button {
	width: 40%;
	text-align: middle;
}

}